body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url('https://c.wallhere.com/photos/2b/a0/space_artwork_galaxy_star_field_space_art_digital_art_colorful-1749171.jpg!d') center no-repeat fixed;
  background-size: cover;
}
.App {
  text-align: center;
  color: white;
}